
@import "reset";
@mixin border-radius($radius: 30px) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
		  }
body {
	background-color: #2C3E50;
	margin: 25px auto;
	width: 60%;
	font-family: "Times New Roman", serif;
	font-size: 18px;
	color: #FFF;
}
article {
	@include border-radius;
	background-color: #2980B9;
	margin: 50px 0;
	padding: 50px;
	img {
	@include border-radius;
	width: 100%;
	display: block;
    margin: auto;
	}
	ul, ol{
	padding: 0 50px;
	margin: 1em;
	}
}
