$headerFont: "black arial", sans-serif;
$backgroundColor: #2980B9;
$bgColorBlue: #2C3E50;
$margin: 50px;
  

@import "reset";
@mixin border-radius($radius: 30px) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
		  }
		  
body {
	background-color: $bgColorBlue;
	margin: 25px auto;
	width: 60%;
	font-family: "Times New Roman", serif;
	font-size: 18px;
	color: #FFF;
}
header {
	h1 {
	font-size: 70px;
	font-family: $headerFont;
	
	}
	h2 {
	font-size: 25px;
	font-weight: normal;
	padding-top: 10px;
	}
	ul {
	font-family: $headerFont;
	font-size: 30px;
	}
	ul li {
    display: block;
    position: relative;
    float: left;
	padding: 50px 0;
	margin-right: $margin;
	}
	li ul {
		display: none;
	}
	ul li a {
		display: block;
		text-decoration: none;
		color: $bgColorBlue;
		background-color: $backgroundColor;
		@include border-radius (10px);
		padding: 12px 10px;
		font-weight: bold;
	}
	ul li a:hover {
		background: #FFF;
	}
}

section {
	h1 {
	@include border-radius (10px);
	background-color: #FFF;
	color: #E74C3C;
	font-size: 70px;
	font-family: $headerFont;
	padding: 10px 0 10px 10px;
	clear: both;
	}
	article {
	@include border-radius;
	background-color: $backgroundColor;
	margin: $margin 0;
	padding: 50px;
	img {
	@include border-radius;
	width: 100%;
	display: block;
    margin: auto;
	}
	h2 {
	padding-top: 10px;
	font-size: 50px;
	font-family: $headerFont;
	}
	h3 {
	padding: 10px 0;
	font-size: 25px;
	}
	ul, ol{
	padding: 0 50px;
	margin: 1em;
	}
}
}
footer {
	font-family: $headerFont;
	h1 {
	font-size: 18px;
	float: left;
	margin-right: 10px;
	}
	h2 {
	font-size: 18px;
	font-weight: normal;
	float: left;
	}
	ul {
	float: left;
	}
	ul li {
    display: block;
    position: relative;
    float: left;
	margin: 0 20px;
	}
	li ul {
		display: none;
	}
	ul li a {
		display: block;
		text-decoration: none;
		color: #FFF;
	}
	ul li a:hover {
		color: $backgroundColor;
	}
}